<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-Soccer</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <header>
        <img id="logo" src=../public/images/balon-uefa-champions-league-final-training-2324.jpg alt="Balon de futbol">

        <ul id="Header-list">
            <li class="header-list-item">Playeras</li>
            <li class="header-list-item">Más Vendidas</li>
            <li class="header-list-item">Playeras Retro</li>
            <li class="header-list-item">Balones</li>
        </ul>
        <form action="">
            <input type="text">
            <button>o</button>
        </form>
    </header>

    <main>
        <h2 id="playeras-menu">Playeras</h2>
        <section>
            <article>
                <img class="article-img"id="west-ham"src="../public/images/westham1999.jpg" alt="">
                <h3>Playera de West Ham 1999 Home</h3>
                <p>45$</p>
            </article>


            <article><img class="article-img"src="../public/images/Barcelona2024.png=z-400,400_f-webp" alt="">
                <h3>Playera Barcelona Temporada 2024-25 Home</h3>
                <p>60$</p>
            </article>

            <article>
                <img class="article-img"src="../public/images/Barcelona2024visitante.png=z-400,400_f-webp" alt="">
                <h2>Playera Barcelona Temporada 2024-25 Away</h2>
                <p>60$</p>
            </article>

        </section>


    </main>

    <footer>
        <div id="footer-menu">
            <img id="logo-footer" src="../public/images/balon-uefa-champions-league-final-training-2324.jpg" alt="">
<ul>
    <li><a href="https://www.facebook.com/">Facebook</a></li>
    <li><a href="https://www.instagram.com/">Instagram</a></li>
    <li><a href="https://discord.com/">Discord</a></li>
</ul>
        </div>
<p id="derechos">T-Soccer 2024© Todos los derechos reservados.</p>

    </footer>
</body>

</html>