<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-Soccer</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <script
      src="https://kit.fontawesome.com/544876a7ca.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>
    <header>
        <img id="logo" src=../public/images/balon-uefa-champions-league-final-training-2324.jpg alt="Balon de futbol">

        <ul id="Header-list">
            <li class="header-list-item"><a class="seccion-header" href="#playera">Playeras</a></li>
            <li class="header-list-item"><a class="seccion-header" href="#mas-vendidas">Más Vendidas</a></li>
            <li class="header-list-item"><a class="seccion-header" href="#playeras-retro">Playeras Retro</a></li>
            <li class="header-list-item"><a class="seccion-header" href="balones.html">Balones</a></li>
        </ul>
        <form action="">
            <input type="text" placeholder="Buscar articulo...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </header>

    <main>
        <h2 id="playera" class="playeras-menu">Playeras</h2>
        <section>
            <article>
                <img class="article-img"id="west-ham"src="../public/images/westham1999.jpg" alt="">
                <h3>Playera de West Ham 1999 Home</h3>
                <p>45$</p>
            </article>


            <article><img class="article-img"src="../public/images/Barcelona2024.png=z-400,400_f-webp" alt="">
                <h3>Playera Barcelona Temporada 2024-25 Home</h3>
                <p>60$</p>
            </article>

            <article>
                <img class="article-img"src="../public/images/Barcelona2024visitante.png=z-400,400_f-webp" alt="">
                <h3>Playera Barcelona Temporada 2024-25 Away</h3>
                <p>60$</p>
            </article>

        </section>




        <h2 id="playeras-retro" class="playeras-menu">Playeras Retro</h2>
        <section>
           <article>
            <img class="article-img"src="/public/images/Barcelona 2006.webp" alt="">
            <h3>Playera Barcelona 2005-06 Home</h3>
            <p>50$</p>
           </article> 

           <article>
            <img class="article-img"src="../public/images/milan2007.webp" alt="">
            <h3>Playera Milan 2007 Away</h3>
            <p>55$</p>
           </article>

           <article>
            <img class="article-img"src="../public/images/ManUtdHSSNo.webp" alt="">
            <h3>Playera Manchester United 2002 Home</h3>
            <p>45$</p>
           </article>

           



        </section>

        <h2 id="mas-vendidas" class="playeras-menu">Mas Vendidas</h2>
        <section>
            <article>
                <img class="article-img"src="../public/images/milan2007.webp" alt="">
                <h3>Playera Milan 2007 Away</h3>
                <p>55$</p>
            </article>

            <article>
                <img class="article-img" src="../public/images/JerseyFrancia1998.webp" alt="">
                <h3>Playera Francia 1998</h3>
                <p>50$</p>
            </article>

            <article>
                <img class="article-img" src="../public/images/Mexico1998.jpg" alt="">
                <h3>Playera Mexico 1998</h3>
                <p>50$</p>
            </article>
        </section>


    </main>

    <footer>
        <div id="footer-menu">
            <img id="logo-footer" src="../public/images/balon-uefa-champions-league-final-training-2324.jpg" alt="">
<ul>
    <li><a class="redes" href="https://www.facebook.com/">Facebook</a></li>
    <li><a class="redes" href="https://www.instagram.com/">Instagram</a></li>
    <li><a class="redes" href="https://discord.com/">Discord</a></li>
</ul>
        </div>
<p id="derechos">T-Soccer 2024© Todos los derechos reservados.</p>

    </footer>
</body>

</html>