*{
    margin: 0px;
    padding: 0px;
}


ul{
    list-style-type: none;
}
/* HEADER */
#logo{
    width: 100px;
}

#Header-list{
    display: flex;
    
}
header{
    display: flex;
    justify-content:space-around;
    background-color:deepskyblue;
    align-items: center;
}
.header-list-item{
    margin-right: 7.5px;
}
a{
    transition: all 400ms;
}

a:hover{
    color: white;
    border-bottom: 2px solid white;
    padding: 3px;
    

}

/* HEADER */



/* FOOTER */
#logo-footer{
    width: 100px;
}

footer{
    background-color: deepskyblue;
}

#derechos{
    text-align: center;
}  
#footer-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    
}



/* FOOTER */




/* MAIN */

main{
    margin-bottom: 20px;
}
.playeras-menu{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

section{
    display: flex;
    justify-content: space-around;
}
.article-img{
    width: 80%;
}

article{
    width: 300px;
    text-align: center;
    border: 1px solid darkcyan;
}


/* MAIN */