*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}


ul{
    list-style-type: none;
}
/* HEADER */
#logo{
    width: 100px;
}

#Header-list{
    display: flex;
    
}
header{
    display: flex;
    justify-content:space-around;
    background-color: rgb(48, 107, 218);
    align-items: center;
}
.header-list-item{
    margin-right: 15px;
    font-size: 20px;

}
a{
    transition: all 400ms;
    
}

a:hover{
    color: black;
    border-bottom: 2px solid black;
    padding: 3px;
    

}
p{
    font-size: 20px;
}


form{
    display: flex;
}

input{
    font-size: 16px;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
input:focus-visible{
    outline: none;
}
button{
    border: none;
    padding: 5px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
}
.seccion-header{
    color:white
}

/* HEADER */



/* FOOTER */
#logo-footer{
    width: 100px;
}

footer{
    background-color: rgb(48, 107, 218);
}

#derechos{
    text-align: center;
    padding-bottom: 12px;
}  
#footer-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    
}



/* FOOTER */




/* MAIN */

main{
    padding-bottom: 20px;
    background-color: rgb(100, 148, 238);
}
.playeras-menu{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

section{
    display: flex;
    justify-content: space-around;
}
.article-img{
    width: 80%;
}

article{
    width: 300px;
    text-align: center;
    border: 1px solid darkcyan;
    border-radius: 16px;
    background-color: white;
    transition: all 400ms;
cursor: pointer;
}
article:hover{
    box-shadow: 0 10px 15px rgb(25, 60, 124);
}
.redes{
    font-size: 20px;
    
}

li{
    margin-bottom: 3.5px;
}


/* MAIN */